<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JustDeleteMe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SiteChecker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>kok.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>64070FF4193E8E090039E590</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64071009193E8E090039E590</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6451CF18193F981E0077A97C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64DB0CDE1941061700E5ACD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
